body {
        background-image: url(Img/BgImage.jpg);
        color: white;
    }
    table.tab{
        border-radius: 20px;
    }

    h1 {
        text-align: center;
        text-decoration: underline;
        color: white;
    }

    h2 {
        background-color: #B8B8B8;
        color: black;
    }

    .pic{
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;
    }


    tr, td{
        padding: 10px;
        font-size: 18px;
    }
    